
@model IEnumerable<ClothesWebNET.Models.Bill>
@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<style>
    .title-detail{
        color:black;
    }
    .text-sm {
        font-size: 15px;
     
        font-weight: normal;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
        .text-sm span {
            font-weight: 500;
        }
    h5.text-right{
        font-weight:500;
    }
    h5.text-right span{
        font-weight:normal;
    }

    .card {
        z-index: 0;
        background-color: #eceff1;
        padding-bottom: 20px;
        margin-top: 90px;
        margin-bottom: 90px;
        border-radius: 10px;
    }

    .top {
        padding-top: 40px;
        padding-left: 13% !important;
        padding-right: 13% !important;
    }

    #progressbar {
        margin-bottom: 30px;
        overflow: hidden;
        color: #455a64;
        padding-left: 0px;
        margin-top: 30px;
    }

        #progressbar li {
            list-style-type: none;
            font-size: 13px;
            width: 20%;
            float: left;
            position: relative;
            font-weight: 400;
        }

        #progressbar .step0:before {
            font-family: FontAwesome;
            content: '\f10c';
            color: #fff;
        }

        #progressbar li:before {
            width: 40px;
            height: 40px;
            line-height: 45px;
            display: block;
            font-size: 20px;
            background: #c5cae9;
            border-radius: 50%;
            margin: auto;
            padding: 0px;
        }

        #progressbar li:after {
            content: '';
            width: 100%;
            height: 12px;
            background: #c5cae9;
            position: absolute;
            left: 0;
            top: 16px;
            z-index: -1;
        }

        #progressbar li:last-child:after {
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            position: absolute;
            left: -50%;
        }

        #progressbar li:nth-child(2):after,
        #progressbar li:nth-child(3):after,
        #progressbar li:nth-child(4):after {
            left: -50%;
        }

        #progressbar li:first-child:after {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            position: absolute;
            left: 50%;
        }

        #progressbar li:last-child:after {
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }

        #progressbar li:first-child:after {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }

        #progressbar li.active:before,
        #progressbar li.active:after {
            background: #651fff;
        }

        #progressbar li.active:before {
            font-family: FontAwesome;
            content: '\f00c';
        }

    .icon {
        width: 60px;
        height: 60px;
        margin-right: 15px;
    }

    .icon-content {
        padding-bottom: 20px;
    }
    .mess-success{
        color:blue;
        font-size:15px;
        font-weight:bold;
    }
    .mess-err {
        color: red;
        font-size: 15px;
        font-weight: bold;
    }
</style>
<div id="content" class="">
    <div class="content-main p-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Admin/Bill">Đơn hàng</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                    Chi tiết đơn hàng
                </li>
            </ol>
        </nav>
        <div class="table-responsive-sm">


            <h4 class="text-center title-detail">CHI TIẾT ĐƠN HÀNG</h4>
            <div class="row d-flex justify-content-center">
                <div class="col-12">
                    <ul id="progressbar" class="text-center">

                        <li key="1" id="s1" class=" step0">
                            <div class="d-flex  flex-column">
                                <p class="font-weight-bold">Đang chờ</p>
                            </div>
                        </li>
                        <li key="2" id="s2" class=" step0">
                            <div class="d-flex  flex-column">
                                <p class="font-weight-bold">Đã duyệt</p>
                            </div>
                        </li>
                        <li key="3" id="s3" class=" step0">
                            <div class="d-flex  flex-column">
                                <p class="font-weight-bold">Đóng gói</p>
                            </div>
                        </li>
                        <li key="4" id="s4" class="step0">
                            <div class="d-flex  flex-column">
                                <p class="font-weight-bold">Đang giao</p>
                            </div>
                        </li>
                        <li key="5" id="s5" class="step0">
                            <div class="d-flex  flex-column">
                                <p class="font-weight-bold">Thành công</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <h5 class="text-sm">Họ tên người mua hàng: <span id="fullname"></span></h5>
            <h5 class="text-sm">Số điện thoại: <span id="phone"></span></h5>
            <h5 class="text-sm">Địa chỉ: <span id="address"></span></h5>
            <h5 class="text-sm">Mã hóa đơn: <span id="idBill"></span></h5>
            <h5 class="text-sm">
                Trạng thái đơn hàng:

                <span id="statusName"></span>

            </h5>

            @{
                string stt = @ViewBag.currentStatus.statusName;
            }
            @if (stt != "Thất bại" && stt != "Thành công" && stt != "Đã hủy")
            {
            <div class="d-flex mt-2 mb-2">

                <select class="form-select col-3" id="orderStatus">
                    <option selected value="@ViewBag.currentStatus.orderStatusID">@ViewBag.currentStatus.statusName</option>

                    @foreach (var item in ViewBag.orderStatus)
                    {
                        <option value="@item.orderStatusID">@item.statusName</option>
                    }

                </select>
                <button type="button" id="btnOrderStatus" class="btn btn-primary col-3 ml-2">Cập nhật</button>
            </div>
            }








            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Tên sản phẩm</th>
                        <th scope="col">Số lượng</th>
                        <th scope="col">Giá bán</th>
                        <th scope="col">Tổng tiền</th>

                    </tr>
                </thead>
                <tbody id="renderItem">
                </tbody>
            </table>
        </div>

        <div class="float-right">
           
            <h5 class="text-left">Tạm tính:<span class="fmt text-right" id="subTotal"></span></h5>
            <h5 class="text-left">Phí vận chuyển:<span class="fmt" id="shippingfee"></span></h5>
            <h5 class="text-left">Tổng cộng:<span class="fmt" id="Total"></span></h5>
        </div>
    </div>
</div>
<div class="modal-cus modal-update">
    <div class="modal__overplay mdu"></div>
    <div class="modal__body">
        <div class="modal__inner">
            <div class="cus-form">

            </div>
            
            </div>
        </div>
</div>
@Scripts.Render("~/bundles/admin/jquery")

<script src="https://code.jquery.com/jquery-3.1.1.min.js"> </script>

<script>
    var pathname = window.location.pathname
    let lastS = pathname.lastIndexOf('/');
    let id = pathname.slice(lastS + 1).trim();

    function activeProcces(statusId) {

        const step = $('.step0');
        const process = {
            watting: 0,
            accept: 1,
            package: 2,
            shipping: 3,
            success:4,

        }
        for (let i = 0; i <= process[statusId]; i++) {
         
           step[i].classList.add('active')
        }
      
    }
    $('.modal-cus').click(() => {
        if ($('.modal-cus').hasClass('d-flex')) {
            $('.modal-cus').removeClass('d-flex')
            location.reload();
        }
    })
    $.ajax('/Admin/Bill/GetDetailBill', {
        data: {
            idBill: id,
        },
        dataType: 'json',
        method: 'Post',
        success: function (res) {

            const statusColor = {
                "Thành công": `<span class="badge bg-success">Thành công</span>`,
                "Đã duyệt": '<span class="badge bg-info">Đã duyệt</span>',
                "Đã hủy": '<span class="badge bg-dark">Đã hủy</span>',
                "Thất bại": '<span class="badge bg-secondary">Thất bại</span>',
                "Đang đóng gói": '<span class="badge bg-dark">Đang đóng gói</span>',
                "Đang giao": '<span class="badge bg-danger">Đang giao</span>',
                "Đang chờ": '<span class="badge bg-secondary">Đang chờ</span>',
            }


            $('#fullname').html(res[0].nameBook)
            $('#phone').html("0"+res[0].phone)
            $('#address').html(res[0].address)
            $('#idBill').html(res[0].idBill)
            $('#statusName').html(statusColor[res[0].statusName])

            let html = '';
            res.forEach(item => {
                html += `<tr>
                    <td>${item.nameProduct}</td>
                    <td>${item.qty}</td>
                    <td class="fmt">${item.price}000</td>
                    <td class="fmt">${item.intoMoney}000</td>
                       </tr>`
            })
            $('#renderItem').html(html)
            $('#Total').html(res[0].Total + "000")
            $('#subTotal').html(res[0].subTotal + "000")
            $('#shippingfee').html(res[0].shipping + "000")
            
            activeProcces(res[0].statusId)
        
              

            let fmt = document.querySelectorAll('.fmt');
            fmt.forEach(item => {
                item.textContent = commaSeparator(item.textContent);   
            })
        }
    })

    const commaSeparator = (money) => {
        let res = [...money];
        let count = 0;
        for (let i = res.length - 1; i >= 0; i--) {
            count++;
            if (count == 3) {
                if (i != 0) {
                    res[i] = ',' + res[i];
                    count = 0;
                }
            }
        }
        return res.join('') + 'đ';
    };
   
    $('#btnOrderStatus').click(() => {
        fetch('/Admin/Bill/OrderStatus', {
            method: 'POST', // or 'PUT'
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                idBill: $('#idBill').text(),
                status: $('#orderStatus').val(),
            }),
        })
            .then((response) => response.json())
            .then((data) => {
           
                if (data.status == true) {
                    $('.modal-cus').addClass('d-flex')
                    $('.cus-form').html(`<p class="mess-success">Cập nhật trạng thái thành công</p>`)
                  
                  
                }
                else {
                  @*  alert("Lỗi: " + data.mess)*@
                    $('.modal-cus').addClass('d-flex')
                    $('.cus-form').html(`<p class="mess-err">Lỗi: ${data.mess}</p>`)
                    
                
                }
            })
            .catch((error) => {
                console.error('Error:', error);
            });

    })
    

  

</script>

<script>

   

</script>


